.about {
    padding: $padding-large 0;
    @include flexbox;
    flex-direction: row;
    justify-content: space-between;
    height: 40vh;

    @include responsive(wide-screen) {
        height: 50vh;
    }

    @include responsive(medium-screen) {
        height: 40vh;
    }



    &__img {
        background-image:  url(../img/picture-3.jpg);
        height: 30rem;
        width: 150rem;
        background-size: cover;
        background-position: center;

        @include responsive(small-screen) {
            display: none;
        }
    }

    &__content {
        height: 30rem;
        margin-left: 3rem;
        @include flexbox;
        justify-content: space-between;       
        align-items: center; 

        @include responsive(small-screen) {
            justify-content: space-evenly;
            margin: 0;    
        }

        h3 {
            @include responsive(small-screen) {
                font-size: 3rem;
            }
        }


        p {
            @include paragraph-content;

            @include responsive(medium-screen) {
                font-size: 1rem;
            }
        }

        button {
            @include responsive(medium-screen) {
                font-size: 1rem;
                padding: 1rem;
            }
        }
    }

    &__heading {
        text-align: center;

        @include responsive(medium-screen) {
            font-size: 5rem;
        }
    }

}

.reviews {
    &__img {
        background-image: url(../img/picture-4.jpg);
        background-size: cover;
        background-position: center;
        height: 60vh;
        width: 100%;

        display: flex;
        align-items: center;

    }

    &__intro {
        margin: 2rem 0;

        @include responsive(wide-screen) {
            margin: 1rem 0;
        }

        @include responsive(medium-screen) {
            font-size: 5rem;
        }

        @include responsive(small-screen) {
            font-size: 3rem;   
        }
    }

    &__block {
        background-color: rgba(255, 255, 255, .90);
        height: 85%;
        padding: 0 2rem;

        @include flexbox;

        @include responsive(wide-screen) {
            height: 90%;
        }    
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__client {
        @include flexbox;
        padding: 0 2rem;
        margin-bottom: 2rem;
    
        p {
            @include paragraph-content;

            @include responsive(medium-screen) {
                font-size: 1.2rem;
            }

            @include responsive(small-screen) {
                font-size: 1rem;
            }
        }
        
        h4 {
            text-transform: uppercase;
            text-align: center;

            @include responsive(small-screen) {
                font-size: 1rem;
            }
        }

        @include responsive(wide-screen) {
            margin: 0;
        }
    }

    &__rate {
        margin-top: 1rem;
        color: $primary-color;
        padding: 1.5rem 2rem;
        font-size: 1.5rem;

        @include responsive(wide-screen) {
            margin-top: 1rem;
        }

        @include responsive(small-screen) {
            font-size: 1rem;   
        }
    }
    
    &__btn {
        margin-bottom: 5rem;

        @include responsive(wide-screen) {
            margin-bottom: 2rem;
        }

        @include responsive(medium-screen) {
            font-size: 1rem;
        }
    }

}

