.about {
    padding: $padding-large 0;
    @include flexbox;
    flex-direction: row;
    justify-content: space-between;



    &__img {
        background-image:  url(../img/picture-3.jpg);
        height: 30rem;
        width: 150rem;
        background-size: cover;
        background-position: center;
    }

    &__content {
        height: 30rem;
        margin-left: 3rem;
        @include flexbox;
        justify-content: space-between;       
        align-items: center; 
        

        p {
            @include paragraph-content;
        }
    }

    &__heading {
        text-align: center;
    }

}