/******* HEADER *********/
.header {
    background-image: url('../img/picture-1.jpg');
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    position: relative;

    @include responsive(small-screen) {
        height: 100vh;
    }



    &__logo {
        width: 10rem;
        margin-top: $margin-top-huge;
    }

    .flexbox {
        @include flexbox;
    }

    .navbar {
        &__list {
            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-top: 4rem;

            @include responsive(medium-screen) {
                margin-top: 2rem;
            }

            @include responsive(small-screen) {
                justify-content: space-around;
                flex-direction: column;
                align-items: center;
                height: 20vh;
            }
        }
    
        &__item {
            list-style: none;
    
            &:not(:last-child) {
                margin-right: 3rem;
            }   

            @include responsive(small-screen) {
                align-self: center;
                &:not(:last-child) {
                    margin: 0;
                }
            }
        }
    
        &__link {
            font-size: $default-font-size;
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: .25rem;
            color: $text-secondary-color;
            transition: all .5s;

            @include responsive(medium-screen) {
                font-size: $medium-font-size;
            }

            @include responsive(small-screen) {
                padding: 1rem;
            }
    
            &:hover,
            &:active {
                font-size: 1.4rem;
                padding: 1rem 2rem;
                background-color: darken(rgba(67, 103, 178, .7), $amount: 15%);

                @include responsive(medium-screen) {
                    font-size: 1.25rem;
                    padding: .5rem 1rem;
                }
            }
        }
    }

    &__content {
        width: 100%;
        color: $secondary-color;
        text-align: center;
        text-transform: uppercase;
        font-size: 1.5rem;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 15%;
        opacity: 20%;

        @include responsive(medium-screen) {
            font-size: 1rem;
        }
        
    }

    &__icon {
        font-size: 3rem;
        fill: $secondary-color;
        text-align: center;
        margin-top: $margin-top-medium;
        animation: moveInBottom 2.5s infinite ease-out;

        @include responsive(medium-screen) {
            font-size: 1.5rem;
        }
    } 
}




