@mixin flexbox {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;   
}

@mixin element-center {
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin paragraph-content {
    font-size: $default-font-size;
    font-weight: 400;
    text-align: center;
    letter-spacing: .05em;
    line-height: 2.5em;
}

@mixin responsive($width) {
    @if $width == wide-screen {
        @media only screen and (max-width: $width-large){
            @content;
        }
    }

    @else if $width == medium-screen {
        @media only screen and (max-width: $width-medium) {
            @content;
        }
    }

    @else if $width == small-screen {
        @media only screen and (max-width: $width-small) {
            @content;
        }
    }
}


%header {
    font-size: 4.5rem;
    font-family: 'Tangerine', sans-serif;
}

%button-style {
    padding: 1.5rem;
    border-radius: 2.5rem;
    background-color: transparent;
    font-size: $default-font-size;
    text-transform: uppercase;
}


%text-styles {
    font-size: 2rem;
    font-weight: 100;
    text-transform: uppercase;
}

