@mixin flexbox {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;   
}

@mixin element-center {
    left: 50%;
    transform: translate(-50%, -50%);
}

%header {
    font-size: 4.5rem;
    font-family: 'Tangerine', sans-serif;
}

%button-style {
    padding: 1.5rem;
    border-radius: 2.5rem;
    background-color: transparent;
    font-size: $default-font-size;
    text-transform: uppercase;
}

@mixin paragraph-content {
    font-size: $default-font-size;
    font-weight: 400;
    text-align: center;
    letter-spacing: .05em;
    line-height: 2.5em;
}