.pricing {
    height: 70vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__heading {
        text-align: center;
        margin: 5rem;
    }

    &__contents {
        display: flex;
        justify-content: space-around;
        align-items: stretch;

    }

    &__item {
        align-content: space-between;
        text-align: center;
        padding: 5rem;
        margin: 0 2.5rem;
        
        -webkit-box-shadow: 3px 8px 16px -4px rgba(212,212,212,1);
        -moz-box-shadow: 3px 8px 16px -4px rgba(212,212,212,1);
        box-shadow: 3px 8px 16px -4px rgba(212,212,212,1);
        transition: all .2s;

        &:hover, 
        &:active {
            -webkit-box-shadow: 3px 8px 16px -4px rgba(67,102,178,1);
            -moz-box-shadow: 3px 8px 16px -4px rgba(67,102,178,1);
            box-shadow: 3px 8px 16px -4px rgba(67,102,178,1);
            transform: scale(1.2);
        }


        h4 {
            font-size: 1.5rem;
        }

        h5 {
            display: block;
            margin: 1.5rem 0;
            font-size: 1.5rem;
            word-spacing: 5rem;
        }

        p {
            font-size: 1.25rem;
        }
    }

    button {
            
        margin-top: 5rem;
    }
}

.blog {
    height: 25vh;
    background-image: url(../img/picture-7.jpg);
    background-size: cover;
    background-position: center;
    
    display: flex;
    justify-content: center;
    align-items: center;

    &__block {
        height: 20rem;
        @include flexbox;
        justify-content: space-evenly;
        align-items: center;

    }

    .horizontal__line {
        padding-top: 2rem;
    }
}

footer {
    height: 5vh;
    text-align: center;
    background-color: $primary-color;
    
    h2 {
        color: $secondary-color;
        font-weight: 100;
        font-size: 1rem;
        letter-spacing: .5em;
        text-transform: uppercase;
        padding-top: 2.5rem;
    }
}