// Colors
$primary-color: #4367B2;
$secondary-color: #fff;

$text-primary-color: #707070;
$text-secondary-color: #FAFAFA;

// Margins 
$margin-top-huge: 5rem;
$margin-top-medium: 3rem;
$margin-top-small: 1.5rem;

// Padding
$padding-large: 15rem;

// Font size
$default-font-size: 1.5rem;
$medium-font-size: 1rem;

// media query 
$width-large: 1200px;
$width-medium: 800px;
$width-small: 500px;